################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PoC.EF.TableSplitting/packages
/PoC.EF.TableSplitting/PoC.EF.TableSplitting/bin/Debug
/PoC.EF.TableSplitting/PoC.EF.TableSplitting/obj/Debug
*.suo
