USE [master]
GO
/****** Object:  Database [poc-ef-tablespitting]    Script Date: 14/12/2016 12:59:54 p. m. ******/
CREATE DATABASE [poc-ef-tablespitting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'poc-ef-tablespitting', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\poc-ef-tablespitting.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'poc-ef-tablespitting_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\poc-ef-tablespitting_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [poc-ef-tablespitting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [poc-ef-tablespitting]
GO
USE [poc-ef-tablespitting]
GO
/****** Object:  Table [dbo].[Entes]    Script Date: 14/12/2016 12:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[DscEnte] [varchar](500) NULL,
	[DscChofer] [varchar](500) NULL,
	[DscPersona] [varchar](500) NULL,
	[TipoEnte] [int] NOT NULL,
 CONSTRAINT [PK_Entes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Entes] ON 

INSERT [dbo].[Entes] ([Id], [Name], [DscEnte], [DscChofer], [DscPersona], [TipoEnte]) VALUES (1, N'Chofer 1', N'EChofer1', N'Chofer - Chofer 1 ', NULL, 1)
INSERT [dbo].[Entes] ([Id], [Name], [DscEnte], [DscChofer], [DscPersona], [TipoEnte]) VALUES (2, N'Persona 1', N'EPErsona 1', NULL, N'Persona - Persona 1', 2)
SET IDENTITY_INSERT [dbo].[Entes] OFF
USE [master]
GO
